header {
  background-color: aquamarine;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 40px;
  margin-top: 45px;
  font-weight: 800;
}
.squares-frame {
  background-color: salmon;
  width: 1500px;
  height: 700px;
  margin: 0 auto;
  border: 3px solid darkblue;
}
